.extension {
    padding: 15px;
    margin: 0;
    background: #fff;
    border-top: 1px solid #eee;

    &:last-of-type {
        border-bottom: 1px solid #eee;
    }

    @media(min-width: 768px) {
        .thumbnail, .info, .actions {
            display: inline-block;
        }   

        .thumbnail {
            width: 30%;
            vertical-align: middle;
        }

        .info {
            width: 50%;
            vertical-align: top;
        }
        
        .actions {
            width: 20%;
            vertical-align: top;
        }
    }
}
