.toplevel_page_ucare_support .wp-menu-image img {
    height: 24px;
    padding: 4px 0 0 !important;
}

.flag-ticket.active {
    color: red;
}

.flag-ticket {
    color: #b4b9be;
}

.support-icon {
    font-size: 1.3em;
}

.toggle {
    cursor: pointer;
}

.support_ticket_metabox .metabox-field {
    width: 100%;
    padding: 5px;
    height: auto;
}

.support_ticket_metabox .form-table th {
    width: auto;
}

table.wp-list-table th i {
    margin: auto 0;
}

table.wp-list-table th.column-thumb,
table.wp-list-table td.thumb {
    text-align: center;
}

table.wp-list-table td.column-status .status-tag {
    margin-right: 5px;
}

table.wp-list-table td.column-status .stale-tag {
    border: 1px solid #ccc;
    vertical-align: text-bottom;
    margin-bottom: -2px;
    padding: 0px 6px;
    border-radius: 3px;
    background: white;
    display: inline-block;
}

.inline-edit-col .quick-edit-field {
   width: 100%;
}

td.column-id.id:before {
    content: '' !important;
}

.ucare_filter_checkboxes {
    line-height: 25px;
    display: inline-block;
}

.ucare_filter_checkboxes input {
    margin-left: 5px;
}

.image-upload {
    display: none;
}

.support-upload {
    margin: 10px auto !important;
}

.support-admin-modal {
    position: absolute;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: none;
}

.support-admin-modal.active {
    display: block;
}

.support-admin-modal .modal-wrap {
    width: 475px;
    position: relative;
    margin: 10% auto;
    background: #fff;
}

.support-admin-modal .modal-header {
    border-bottom: 1px solid #eee;
    padding: 8px 20px;
}

.support-admin-modal .modal-header h3 {
    line-height: 150%;
    margin: 0;
}

.support-admin-modal .modal-content {
    padding: 5px 20px 20px 20px;
}

.support-admin-modal .modal-content textarea,
.support-admin-modal .modal-content input[type=text] {
    width: 100%;
}

.support-admin-modal .modal-footer {
    border-top: 1px solid #eee;
    padding: 12px 20px;
    text-align: right;
}

.support-admin-modal .modal-footer a {
    float: left;
}

.support-admin-modal .reason-input {
    margin-top: 5px;
    margin-left: 20px;
}

/* Settings Sidebar */
.ucare-admin-sidebar {
    display: none;
    width: 25%;
}

.ucare-sidebar-widget {
    background: #5bb8a7;
    padding: 15px;
    margin-top: 15px;
    border-radius: 3px;
}

.ucare-sidebar-widget h3 {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
    margin-top: 0;
    color: #242e3e;
}

/* Settings Header */
#ucare-settings-header {
    background: #0e7463;
    padding: 15px;
    color: #fff;
    border-radius: 3px;
    
}

#ucare-settings-header .header-component:nth-child(3){
    padding: 30px;
}

#ucare-settings-header h1 {
    color: #fff;
}

.ucare-button {
    padding: 12px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 3px;
}

.ucare-button.secondary {
    background: #fff;
    color: #414141;
}

#ucare-settings-header p {
    padding-bottom: 0;
    margin-bottom: 0;
}


@media(min-width: 783px) {
    #uc-settings_menu_page .tabs-content {
        width: 70%;
    }

    #uc-settings_menu_page .tabs-content,
    .ucare-admin-sidebar {
        float: left;
        display: inline-block;
    }
}

/* Extensions */

a.ucare-addon-link {
    display: block;
    text-decoration: none;
}

.ucare-addon {
    background: #fff;
    border: 1px solid #ccc;
    float: left;
    padding: 14px;
    position: relative;
    margin: 0 15px 15px 0;
    width: 320px;
    height: 315px;

}

.ucare-addon h3 {
    font-size: 13px;
    margin: 0 0 8px;
}

.ucare-addon h2 {
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

.ucare-addon p {
    color: #333;
}

.ucare-addon .ad {
    width: 100%;
    background: #e9e9e9;
    height: 150px;
    text-align: center;
    padding-top: 30px;
    color: #fff;
}

.ucare-addon .ad span.dashicons {
    font-size: 40px;
    width: 40px;
    height: 40px;
}


.ucare-addon .ad.customer-satisfaction {
    background: #5bb8a7;
}

.ucare-addon .ad.email-piping {
    background: #22a3e0;
}

.ucare-addon .ad.mailchimp {
    background: #52bad5;
}
.ucare-addon .ad.mailchimp img {
    max-height: 40px;
}

.ucare-addon .ad.knowledge-base {
    background: #0073aa;
}

.ucare-addon .ad.live-chat {
    background: #ff6f6f;
}

.ucare-addon .ad.paid-support {
    background: #011c25;
}

.ucare-addon .ad.auto-ticket-routing {
    background: #de5d3f;
}


/** Activations page **/
.ucare-extension-activation {
    float: left;
    width: 100%;
    background: #fff;
    margin: 10px 10px 0 0;
    border: 1px solid #ddd;
}

.ucare-extension-activation h3 {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    margin: 0;
    background: rgba(0, 0, 0, 0.02);
}

.ucare-extension-activation p {
    padding: 10px;
}

.ucare-extension-activation .ucare-license-key {
    width: 100%;
}

.ucare-extension-activation .license-expiration {
    height: 40px;
    padding: 15px 10px;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    font-size: 14px;
}

.ucare-extension-activation .button {
    margin-top: 10px;
}

@media(min-width: 783px) {

    .ucare-extension-activation {
        width: 30%;
    }

}