
.flag-ticket.active {
    color: red;
}

.flag-ticket {
    color: #b4b9be;
}

.support-icon {
    font-size: 1.3em;
}

.toggle {
    cursor: pointer;
}

.support_ticket_metabox .metabox-field {
    width: 100%;
    padding: 5px;
    height: auto;
}

.support_ticket_metabox .form-table th {
    width: auto;
}

table.wp-list-table th i {
    margin: auto 0;
}

table.wp-list-table th.column-thumb,
table.wp-list-table td.thumb {
    text-align: center;
}

table.wp-list-table td.column-status .status-tag {
    margin-right: 5px;
}

table.wp-list-table td.column-status .stale-tag {
    border: 1px solid #ccc;
    vertical-align: text-bottom;
    margin-bottom: -2px;
    padding: 0px 6px;
    border-radius: 3px;
    background: white;
    display: inline-block;
}

.inline-edit-col .quick-edit-field {
   width: 100%;
}

td.column-id.id:before {
    content: '' !important;
}

.ucare_filter_checkboxes {
    line-height: 25px;
    display: inline-block;
}

.ucare_filter_checkboxes input {
    margin-left: 5px;
}

.image-upload {
    display: none;
}

.support-upload {
    margin: 10px auto !important;
}

/*<editor-fold desc="Settings Page">*/
.small {
    font-size: 12px;
}

.ucare-admin-page .notice {
    margin: 5px 15px 15px 15px !important;
}

.wrap.ucare-admin-page {
    margin: -20px 0 0 -20px;
    padding-top: 20px;
    background: #f9f9f9;
}

.wrap.ucare-admin-page .content {
    padding: 15px 10px 0 20px;
    background: #f1f1f1;
}

#ucare-settings-header {
    margin: 10px 10px 0 20px;
    padding: 10px 0;
    color: #555;
}

#ucare-settings-header .inner {
    display: table;
}

#ucare-settings-header .links {
    margin: 10px 0 0 0;
}

#ucare-settings-header .links a {
    text-decoration: none;
}

.page-title {
    font-weight: 200;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.page-title .title-text {
    font-size: 24px;
    line-height: 24px;
}

.page-title,
.ucare-logo {
    vertical-align: middle;
    display: table-cell;
}

.ucare-logo {
    padding-right: 10px;
}

.ucare-logo img {
    height: 34px;
    width: auto;
    image-rendering: -webkit-optimize-contrast;
    filter: opacity(0.8);
}

.nav-tab {
    font-weight: 500;
    border-bottom: 1px solid #ccc !important;
}

.nav-tab.ucare-pro {
    background: #fff;
}

.nav-tab.ucare-pro:hover {
    background: #F1F1F1;
}

.nav-tab:first-of-type {
    margin-left: 0;
}

.nav-tab-wrapper {
    padding: 9px 10px 10px 20px !important;
    border-bottom: 1px solid #ccc !important;
}

.content.uc-settings h2 {
    margin: 0;
    padding: 15px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    box-sizing: border-box;
}

.form-table {
    border: 1px solid #ccc;
    margin-top: -1px;
    margin-bottom: 10px;
    background: #fff;
}

.form-table tr {
    border-bottom: 1px solid #ccc;
}

.form-table th {
    font-size: 16px;
    padding: 10px 15px 10px 15px;
}

.form-table td {
    padding: 0 15px 10px 15px;
}


.form-table td.has-media-uploader {
    text-align: center;
}

.form-table .image-upload {
    display: none !important;
}

.form-table .color_picker.wp-color-picker {
    display: inline-block;
    padding: 4px;
    width: 80px !important;
}

.form-table .regular-text {
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    padding: 7px 10px;
    display: block;
    max-width: none;
}

.ucare-admin-sidebar {
    display: none;
    width: 30%;
    float: right;
    margin: 0 10px 15px 10px;
}

.ucare-sidebar-widget {
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 15px;
}

.ucare-sidebar-widget .widget-header {
    padding: 10px 15px;
    background: #f9f9f9;
    border-bottom: 1px solid #ccc;
}

.ucare-sidebar-widget .widget-header h3 {
    margin: 0 10px 0 0;
    display: inline-block;
    line-height: 36px;
}

.ucare-sidebar-widget .widget-header .button-cta {
    margin: 4px auto;
}

.ucare-sidebar-widget .widget-header .dashicons {
    line-height: 36px;
}

.ucare-sidebar-widget .widget-header .label {
    border: 1px solid #ddd;
    padding: 2px 5px;
    background: #fff;
    margin: 0 5px;
}

.ucare-sidebar-widget .widget-content {
    padding: 10px 15px;
}


@media(min-width: 768px) {

    .page-title .title-text {
        font-size: 36px;
        line-height: 36px;
    }

    .nav-tab-wrapper {
        padding-bottom: 0 !important;
    }

    .nav-tab {
        padding: 10px 15px;
        margin: 0 0 -1px -1px;
        font-size: 16px;
        border-bottom: 1px solid #ccc;
        background: #f9f9f9;
    }

    .nav-tab-active {
        border-bottom: 1px solid #F1F1F1 !important;
        background: #F1F1F1;
        margin-bottom: -1px;
    }

    .form-table td.has-media-uploader {
        text-align: left;
    }

    .form-table td {
        padding: 15px;
    }

    .form-table th {
        font-size: 14px;
    }

    .form-table .regular-text {
        width: 25em !important;
    }

    .content.uc-settings .tabs-content {
        width: 65%;
        display: inline-block;
    }

    .ucare-admin-sidebar {
        display: inline-block;
    }

}


/*</editor-fold>*/

/*<editor-fold desc="Extensions Page">*/
a.ucare-addon-link {
    display: block;
    text-decoration: none;
}

.ucare-addon {
    background: #fff;
    border: 1px solid #ccc;
    float: left;
    padding: 14px;
    position: relative;
    margin: 0 1% 15px 0;
    height: 360px;
}

.ucare-addon h3 {
    font-size: 13px;
    margin: 0 0 8px;
}

.ucare-addon h2 {
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

.ucare-addon p {
    color: #333;
}

.ucare-addon .ad {
    width: 100%;
    background: #e9e9e9;
    height: 150px;
    text-align: center;
    padding-top: 30px;
    color: #fff;
}

.ucare-addon .ad span.dashicons {
    font-size: 40px;
    width: 40px;
    height: 40px;
}


.ucare-addon .ad.customer-satisfaction {
    background: #5bb8a7;
}

.ucare-addon .ad.email-piping {
    background: #22a3e0;
}

.ucare-addon .ad.mailchimp {
    background: #52bad5;
}
.ucare-addon .ad.mailchimp img {
    max-height: 40px;
}

.ucare-addon .ad.knowledge-base {
    background: #0073aa;
}

.ucare-addon .ad.live-chat {
    background: #ff6f6f;
}

.ucare-addon .ad.custom-fields {
    background: #ffb86f;
}

.ucare-addon .ad.canned-responses {
    background: #6f95ff;
}

.ucare-addon .ad.agent-notes {
    background: #ff6fb8;
}

.ucare-addon .ad.paid-support {
    background: #011c25;
}

.ucare-addon .ad.auto-ticket-routing {
    background: #de5d3f;
}

.ucare-addon .ad.slack-notifications {
    background: #ecb32d;
}

@media(min-width: 768px) {

    .ucare-addon {
        width: 28%;
    }

}
/*</editor-fold>*/

/*<editor-fold desc="Licensing Page">*/
.ucare-extension-activation {
    float: left;
    width: 100%;
    background: #fff;
    margin: 10px 10px 0 0;
    border: 1px solid #ddd;
}

.ucare-extension-activation h3 {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    margin: 0;
    background: rgba(0, 0, 0, 0.02);
}

.ucare-extension-activation p {
    padding: 10px;
}

.ucare-extension-activation .ucare-license-key {
    width: 100%;
}

.ucare-extension-activation .license-expiration {
    height: 40px;
    padding: 15px 10px;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    font-size: 14px;
}

.ucare-extension-activation .button {
    margin-top: 10px;
}

@media(min-width: 783px) {

    .ucare-extension-activation {
        width: 30%;
    }

}
/*</editor-fold>*/