.flag-ticket.active {
    color: red;
}

.flag-ticket {
    color: #b4b9be;
}

.support-icon {
    font-size: 1.3em;
}

.toggle {
    cursor: pointer;
}

.support_ticket_metabox .metabox-field {
    width: 100%;
    padding: 5px;
    height: auto;
}

.support_ticket_metabox .form-table th {
    width: auto;
}

table.wp-list-table th i {
    margin: auto 0;
}

table.wp-list-table th.column-thumb,
table.wp-list-table td.thumb {
    text-align: center;
}

.inline-edit-col .quick-edit-field {
   width: 100%;
}

td.column-id.id:before {
    content: '' !important;
}

.image-upload {
    display: none;
}

.support-upload {
    margin: 10px auto !important;
}