.support_icon.flag.active {
    color: red;
}

.support_icon.flag {
    color: #b4b9be;
}

.support_icon {
    font-size: 1.3em;
}

.support_admin_toggle {
    cursor: pointer;
}

.support_ticket_metabox .form_field {
    width: 100%;
    padding: 5px;
    height: auto;
}

.support_ticket_metabox .form-table th {
    width: auto;
}
