#ui-datepicker-div {
    display: none;
}

.hidden {
    display: none !important;
}

.stats-overview {
    background: #fff;
    margin: 20px 0;
    border: 1px solid #e5e5e5;
}

.stats-overview .date {
    width: 45%;
    text-align: center;
}

.stats-header {
    border: 1px solid #e5e5e5;
    margin: -1px;
    padding: 10px;
}

.stats-header h2 {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}

.stats-footer {
    border: 1px solid #e5e5e5;
    margin: -1px;
    padding: 10px;
}

.stats-chart-wrapper {
    margin: 10px;
}

.form-inline .form-control,
.form-inline .control-group {
    margin: 2px;
    text-align: center;
    width: 100%;
}

.chartist-tooltip {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    border: 1px solid #000;
}

.chartist-tooltip:before {
    border-top-color: transparent;
}

.chartist-tooltip-value {
    padding-top: 2px;
    display: inline-block;
}

.ct-line {
    stroke-width: 5px;
}

.ct-point {
    stroke-width: 10px;
}

.ct-chart .ct-grid {
    stroke-dasharray: none;
}

.ct-chart .ct-chart-line {
    margin-top: 15px;
}

.ct-chart .ct-grid.ct-vertical,
.ct-chart .ct-grid.ct-vertical {
    stroke: none;
}

.ct-series-a .ct-line {
    stroke: #40bac8;
    stroke-dasharray: 0px;
}

.ct-series-a .ct-point {
    stroke: #40bac8;
}

.ct-series-a .ct-area {
    fill: #40bac8;
}

.ct-series-b .ct-line {
    stroke: #d70206;
    stroke-dasharray: 10px 5px;
    stroke-width: 3px;
}

.ct-series-b .ct-point {
    stroke: #d70206;
    stroke-width: 10px;
}

.ct-series-b .ct-area {
    fill: #d70206;
}

@media(min-width: 767px) {

    .form-inline {
        display: table;
    }

    .form-inline .form-control,
    .form-inline .control-group {
        display: table-cell;
        vertical-align: middle;
        width: auto;
    }

    .stats-overview .date {
        width: 120px;
    }

    .ct-chart {
        max-height: 450px;
    }
}

.ct-legend {
    position: relative;
    text-align: right;
    z-index: 10;
    list-style: none;
}
.ct-legend li {
    position: relative;
    padding-left: 23px;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
    display: inline-block;
}

.ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
}

.ct-legend li.inactive:before {
    background: transparent;
}
.ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
}
.ct-legend.ct-legend-inside li{
    display: block;
    margin: 0;
}

.ct-legend .ct-series-0:before {
    background-color: #40bac8;
    border-color: #40bac8;
}

.ct-legend .ct-series-1:before {
    background-color: #d70206;
    border-color: #d70206;
}