/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/

div.dataTables_wrapper {
    font-size: 0.8em;
}

div.dataTables_wrapper table thead tr {
    background-color: #37bc9b;
    color: #FFF;
}

div.dataTables_wrapper table thead tr th {
    border: thin solid #fff;
}

div.dataTables_wrapper table thead tr th:first-child,
div.dataTables_wrapper table tbody tr td:first-child{
    text-align: center;
}


div.dataTables_wrapper table.dataTable tbody tr:hover {
    background-color: #DBF0F0;
}

div.dataTables_wrapper table.dataTable tbody td {
    color: #063746;
    border: thin solid #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.dataTables_wrapper table.dataTable tbody tr.odd td.sorting_1,
div.dataTables_wrapper table.dataTable tbody tr.even td.sorting_1 {
    color: #37bc9b;
    background-color: #DBF0F0;
}

div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate,
div.dataTables_wrapper div.dataTables_filter label {
    color: #063746;
}

div.dataTables_wrapper div.dataTables_paginate.paging_simple_numbers a.paginate_button {
    color: #37bc9b !important;
}

div.dataTables_wrapper div.dataTables_paginate.paging_simple_numbers a.paginate_button.current {
    background: #37bc9b;
    color: #FFF !important;
}

div.dataTables_wrapper div.dataTables_paginate.paging_simple_numbers a.paginate_button.disabled {
    color: #063746 !important;
}