.ucare-flex {
    display: flex;
}
.ucare-inline-flex {
    display: inline-flex;
}
.ucare-flex-col {
    display: flex;
    flex-direction: column;
}
.ucare-flex-row {
    display: flex;
    flex-direction: row;
}

.ucare-flex.vcenter,
.ucare-flex-row.vcenter,
.ucare-flex-col.vcenter,
.ucare-inline-flex.vcenter {
    display: flex;
    align-items: center;
}

.ucare-flex.hcenter,
.ucare-flex-row.hcenter,
.ucare-flex-col.hcenter,
.ucare-inline-flex.hcenter {
    display: flex;
    justify-content: center;
}

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

/*--- Login Notice ---*/
#ucare-login-notice {
    border: 1px solid #efefef;
    border-radius: 3px;
    border-left: 3px solid #ff0000;
    padding: 10px;
    display: flex;
    margin-bottom: 15px;
}

#ucare-login-notice p {
    margin: 0;
}

#ucare-login-notice .inner {
    flex: 1;
}

#ucare-login-notice .dismiss-wrap {
    display: flex;
    align-items: center;
}

#ucare-login-notice .dismiss:before {
    content: '\2715';
    background: #555;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    display: block;
    line-height: 15px;
    vertical-align: middle;
    font-size: 12px;
    cursor: pointer;
}

/*--- Login Screens --*/
#ucare-login {
    width: 100%;
}

#ucare-login > * {
    box-sizing: border-box !important;
}

#ucare-login {
    margin: 15px auto;
}

#ucare-login p {
    margin: 10px 0 !important;
}

#ucare-login .login-title {
    margin-top: 0;
}

#login-step-profile .login-submit {
    margin-top: 10px;
}

/*--- Login Fields ---*/
#login-email,
#login-password {
    margin-right: 10px;
}

.login-remember {
    margin: 5px 0;
}

#login-rememberme {
    width: auto !important;
    margin: 10px 10px 10px 0;
}

button.terms:first-of-type {
    margin-right: 10px;
}

button.terms {
    margin-top: 10px;
    flex: 1;
}


/*--- Login Page ---*/
#support-login-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

#ucare-login {
    padding: 20px;
    border-radius: 4px;
    background: #fff;
}

#support-login-page  #ucare-login p:last-of-type {
    margin-bottom: 0 !important;
}