/*** RESETS ******************************************************************/

.support_card table,
.support_card table th,
.support_card table td {
    border: none;
    margin: 0 auto;
    padding: 2px;
}

/*** GLOBAL CLASSES **********************************************************/

.hidden {
    display: none;
}

table.collapsible td,
table.collapsible th {
    display: block;
}

table.collapsible tr {
    vertical-align: top;
}

@media( min-width: 767px ) {
    table.collapsible td,
    table.collapsible th {
        display: table-cell;
    }
}

/*** SUPPORT CARD *************************************************************/

.support_card .inner {
    border: 1px solid #ddd;
}

.support_card .status_bar {
    border-radius: 4px 4px 0 0;
    margin-bottom: -1px;
    background-color: #f2f8fa;
    padding: 4px 0px;
    border: 1px solid #ddd;
    position: relative;
}

.support_card .status_bar .image_wrapper {
    margin: 0 10px;
    float: left;
}

.support_card .status_bar .meta_wrapper {
    min-height: 36px;
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

.support_card .status_bar .actions_wrapper {
    width: 99%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: right;
}

.support_card .status_bar .actions_wrapper .action {
    margin: 0 10px;
    display: none;
    cursor: pointer;
    color: #686868;
}

.support_card .status_bar:hover > .actions_wrapper .action {
    display: inline;
}

.support_card .status_bar .author_name {
    font-weight: 600;
    font-size: 0.9em;
    text-transform: capitalize;
    margin-bottom: 0;
}

.support_card .status_bar .date_posted {
    color: grey;
    font-size: 0.6em;
}

.support_card .status_bar p {
    margin: 0;
}

.support_card .status_bar {
    border: 1px solid #ddd;
}

/*** TAB BAR ******************************************************************/

.tabular_tab_bar {
    border: 1px solid;
    height: 40px;
}

.tabular_tab_bar li {
    display: inline-block;
    float: left;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    width: 200px;


    border: 1px solid red;
}

.tabular_tab_bar li a {
    height: 100%;
    width: 150px;
    display: inline-block;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*** BUTTONS *****************************************************************/

#support_system .button_wrapper {
    text-align: center;
}

#support_system .button {
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    width: 97%;
    height: 40px;
    margin: 5px 0;
}

#support_system .button[disabled] {
    opacity: 0.75;
}

#support_system .button.submit {
    background-color: #378ccd;
    border: 2px solid #378ccd;
}

#support_system .button.submit[disabled]:hover {
    border: 2px solid #378ccd;
    color: #fff;
    border-radius: 3px;
    background-color: #378ccd;
    padding: inherit;
}

#support_system .button.submit .text {
    display: inline-block;
    vertical-align: middle;
}

#support_system .button.submit .status {
    display: inline-block;
    vertical-align: middle;
}

#support_system .button.submit .spinner {
    border: 3px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    animation: spin 2s linear infinite;
}

#support_system .button.submit .check,
#support_system .button.submit .fail {
    margin: 0 5px;
}

#support_system .button.cancel {
    background-color: #aaaaaa;
}

.check:after {
    content: '\2714';
}

.fail:after {
    content: "\2716";
}

@media( min-width: 767px ) {
    #support_system .button {
        width: 150px;
        margin: 0 4px;
    }

    #support_system .button_wrapper {
        text-align: right;
    }
}

/*** SINGLE TICKET ************************************************************/

.ticket {
    margin: 20px auto;
}

.ticket .status_bar img {
    margin-top: 1px;
}

.ticket .status_bar .author_name {
    font-size: 1em;
}

.ticket .status_bar .date_posted {
    font-size: 0.8em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ticket .read_only {
    margin: 10px;
}

.ticket .read_only .subject {
    font-size: 2em;
    font-weight: 600;
    margin: 20px 10px;
}

.ticket .read_only .content {
    margin: 20px 10px;
}

.ticket .date_opened {
    padding: 0 10px;
    color: #686868;
    font-size: 0.8em;
    background-color: #f2f8fa;
    border: 1px solid #ddd;
    margin-top: -1px;
    text-align: right;
}

.ticket_editor {
    border-radius: 0 0 4px 4px;
}

.ticket_editor .button_wrapper {
    margin-top: 10px;
}

.ticket_editor .form_field[name="subject"] {
    font-size: 1.5em;
}

@media( min-width: 767px ) {
    .ticket .read_only .meta table {
        table-layout: auto;
        padding: inherit;
    }

    .ticket .meta {
        margin: 20px 20px 0 20px;
    }

    .ticket_editor .meta th {
        width: 35%;
    }

    .ticket .meta td {
        padding-bottom: 20px;
    }

    .ticket_editor .meta .label {
        vertical-align: top;
    }
}

/*** FORMS *******************************************************************/

#support_system form {
    padding: 5px 5px 10px 5px;
}

#support_system form .error_field {
    border: 1px solid red !important;
}

#support_system form .error_msg {
    color: red;
    font-size: 0.9em;
    margin: 2px;
}

#support_system form .label {
    font-size: 0.9em;
    font-weight: 600;
}

#support_system .form_field {
    font-size: 0.9em;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    color: #000;
}

/*** COMMENTS ****************************************************************/

.support_ticket .comments > * {
    margin: 20px 0;
}

.support_ticket .comment .avatar {
    margin-top: 2px;
}

.support_ticket .comment .content {
    font-size: 0.8em;
    padding: 10px;
}

.support_ticket .comment .content > * {
    margin: 0;
    padding: 0;
}

.support_ticket .comment_reply .wrapper {
    display: table;
}

.support_ticket .comment_reply .button.cancel {
    display: none;
}

@media( min-width: 767px ) {
    .support_ticket form.comment_form .error_msg {
        position: absolute;
        margin: 16px 10px !important;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}