/*** RESETS ******************************************************************/

.support_form table,
.support_form table th,
.support_form table td {
    border: none;
    margin: 0 auto;
    padding: 2px;
}

.support_card table,
.support_card table th,
.support_card table td {
    border: none;
    margin: 0 auto;
    padding: 2px;
}

/*** GLOBAL CLASSES **********************************************************/

.hidden {
    display: none;
}

table.collapsible td,
table.collapsible th {
    display: block;
}

table.collapsible tr {
    vertical-align: top;
}

#support_system {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/*** SUPPORT CARD *************************************************************/

.support_card .inner {
    border: 1px solid #ddd;
}

.support_card .status_bar {
    border-radius: 4px 4px 0 0;
    margin-bottom: -1px;
    background-color: #f2f8fa;
    padding: 4px 0px;
    border: 1px solid #ddd;
    position: relative;
}

.support_card .status_bar .image_wrapper {
    margin: 0 10px;
    float: left;
}

.support_card .status_bar .meta_wrapper {
    min-height: 36px;
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

.support_card .status_bar .actions {
    width: 99%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: right;
}

.support_card .status_bar .actions i {
    margin: 0 10px;
    cursor: pointer;
    color: #686868;
}

.support_card .status_bar .author_name {
    font-weight: 600;
    font-size: 0.9em;
    text-transform: capitalize;
    margin-bottom: 0;
}

.support_card .status_bar .date_posted {
    color: grey;
    font-size: 0.6em;
}

.support_card .status_bar p {
    margin: 0;
}

.support_card .status_bar {
    border: 1px solid #ddd;
}

/*** TAB BAR ******************************************************************/

.ui-tabs {
    position: relative;
    zoom: 1;
}

.ui-tabs .ui-tabs-nav {
    height: 40px;
    margin: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    margin: 0 2px;
    height: 40px;
    width: 150px;
    white-space: nowrap;
    background-color:  #DBF0F0;
    border: 1px solid #ddd;
}

.ui-tabs .ui-tabs-nav li a {
    line-height: 40px;
    float: left;
    padding: 0 30px 0 10px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    outline: 0;
}

.ui-tabs .ui-tabs-nav li .ui-icon-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    padding: 4px;
    margin: 10px 5px;
    border-radius: 50%;
    cursor: pointer;
}

.ui-tabs .ui-tabs-nav li .ui-icon-close:hover {
    color: #fff;
    background-color: red;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom: 0;
    padding-bottom: 1px;

}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-color: #fff;
    border-bottom: transparent;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
}

.ui-tabs .ui-tabs-hide {
    display: none !important;
}

/*** BUTTONS *****************************************************************/

.button_wrapper {
    text-align: center;
}

.button {
    padding: 5px 10px;
    margin-top: 20px;
    color: #fff;
    border-radius: 3px;
    width: 97%;
    height: 40px;
    background-color: #378ccd;
}

.button[disabled] {
    opacity: 0.75;
}


.button[type="submit"] .text {
    display: inline-block;
    vertical-align: middle;
}

.button[type="submit"] .status {
    display: inline-block;
    vertical-align: middle;
}

.spinner {
    border: 3px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    animation: spin 2s linear infinite;
}

#support_system .button.submit .check,
#support_system .button.submit .fail {
    margin: 0 5px;
}

#support_system .button.cancel {
    background-color: #aaaaaa;
}

.check:after {
    content: '\2714';
}

.fail:after {
    content: "\2716";
}

@media( min-width: 767px ) {
    .button {
        width: auto;
        min-width: 150px;
        margin-left: 4px;
    }

    .button_wrapper {
        text-align: right;
    }
}

/*** SINGLE TICKET ************************************************************/

.ticket {
    margin: 20px auto;
}

.ticket .inner {
    padding: 20px;
}

.ticket .status_bar img {
    margin-top: 1px;
}

.ticket .status_bar .author_name {
    font-size: 1em;
}

.ticket .status_bar .date_posted {
    font-size: 0.8em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ticket .date_opened {
    padding: 0 10px;
    color: #686868;
    font-size: 0.8em;
    background-color: #f2f8fa;
    border: 1px solid #ddd;
    margin-top: -1px;
    text-align: right;
}

.ticket_editor {
    border-radius: 0 0 4px 4px;
}

.ticket_editor .button_wrapper {
    margin-top: 10px;
}

.ticket_editor .form_field[name="subject"] {
    font-size: 1.5em;
}

@media( min-width: 767px ) {
    .ticket .read_only .meta table {
        table-layout: auto;
        padding: inherit;
    }

    .ticket .meta {
        margin: 20px 20px 0 20px;
    }

    .ticket_editor .meta th {
        width: 35%;
    }

    .ticket .meta td {
        padding-bottom: 20px;
    }

    .ticket_editor .meta .label {
        vertical-align: top;
    }
}

/*** FORMS *******************************************************************/

.support_form {
    padding: 5px 5px 10px 5px;
}

.support_form .error_field {
    border: 1px solid red !important;
}

.support_form .error_msg {
    color: red;
    font-size: 0.9em;
    margin: 2px;
}

.support_form .label {
    font-size: 0.9em;
    font-weight: 600;
}

.support_form .form_field {
    font-size: 0.9em;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    color: #000;
}

/*** COMMENTS ****************************************************************/

.comment_section .comment {
    margin: 20px 0;
}

.comment_section .comment .avatar {
    margin-top: 2px;
}

.comment_section .comment .content {
    font-size: 0.8em;
    padding: 10px;
}

.comment_section .comment .content > * {
    margin: 0;
    padding: 0;
}

.comment_section .comment_reply .wrapper {
    display: table;
}

.comment_section .comment_reply .button.cancel {
    display: none;
}

@media( min-width: 767px ) {
    .comment_section form.comment_form .error_msg {
        position: absolute;
        margin: 16px 10px !important;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.rotate {
    animation: spin 2s linear infinite;
}

.trigger {
    cursor: pointer;
}

.trigger i {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 10px;
    padding: 0;
    text-align: center;
    line-height: 20px !important;
    cursor: pointer;
}

.trigger.active i {
    color: blue !important;
}

@media( min-width: 767px ) {
    #ticket_filter select {
        width: 150px !important;
    }

    #ticket_filter {
        text-align: right;
    }
}

#support_tickets_table .actions i {
    color: #fff;
    height: 30px;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}

#support_tickets_table .actions i:hover {
    background: #26826b;
}

#support_tickets_table .actions i.left {
    border-radius: 8px 0 0 8px;
}

#support_tickets_table .actions i.right {
    border-radius: 0 8px 8px 0;
}

#support_tickets_table .actions {
    width :80%;
    margin: 0 auto;
    text-align: center;
    background-color: #37bc9b;
    border-radius: 8px;
    display: table;

}

.modal {
    border-radius: 2px;
}