#the-toolbar .navbar {
    margin: 0;
    border-radius: 0;
    border-right: none;
    border-left: none;
}

#the-toolbar a.toolbar-item-toggle > input[type="checkbox"] {
    position: absolute;
    top: -100000px;
}

#the-toolbar a.toolbar-item-toggle .check-feedback {
    width: 14px;
    height: 14px;
    display: inline-block;
}

#the-toolbar a.toolbar-item-toggle.has-item-checked .check-feedback:before {
    content: "\e013";
}

#toolbar-ribbon {
    display: none;
    border-bottom: 1px solid #e7e7e7;
}